%nav.bread-container
  - case params.values_at :controller, :action

    - when ['schools','index']
    - breadcrumb :top
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

    - when ['schools','show']
    - breadcrumb :school_show
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

    - when ['locations','show']
    - breadcrumb :location_show
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

    - when ['languages','show']
    - breadcrumb :language_show
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "



